@model IEnumerable<CoreMode.ViewModels.CartItemViewModel>

@{
    ViewBag.Title = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>   購物車</h2>
<table class="container  table  cell-border">
    <tr>
        <th>

        </th>
        <th>
            產品名稱
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th></th>
        <th></th>
    </tr>
 
        @foreach (var item in Model)
        {
            <tr>
                <td><img style="height:60px" class="img" src="~/Content/ProductImage/@item.Image" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @String.Format("{0:c}", item.Price * item.Quantity)
                </td>
                <td>
                    <a href="@Url.Action("RemoveFromCart", "ShoppingCart", new { Id=item.Id })" class="btn btn-danger">刪除</a>
                </td>
            </tr>
        }
       
        <tr>
            <td colspan="4" style="text-align:right"><strong>購物車結算</strong></td>
            <td>@String.Format("{0:c}", (from p in Model select p.Price * p.Quantity).Sum())</td>
            <td><a href="@Url.Action("Checkout", "ShoppingCart")">結帳</a></td>
        </tr>

</table>
