<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/theme/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/theme/animate.css">
    <link rel="stylesheet" href="~/Content/theme/sina-nav.css">
    <link rel="stylesheet" href="~/Content/theme/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/theme/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/theme/Style.css">
    <link rel="stylesheet" href="~/Content/theme/animate.css">
    <link rel="stylesheet" href="~/Content/theme/aos.css">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>

</head>
<body>
    <div class="layoutwrapper ">
        <div>
            <div class="navclass navbar-collapse navbar-fixed-top ">
                <div class="container">
                    <div class="navbar-header">
                        @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                        @Html.ActionLink("LoveShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">食品</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">First</a></li>
                                    <li><a href="#">Second</a></li>
                                    <li><a href="#">Third</a></li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("調味料", "About", "Home")</li>
                            <li>@Html.ActionLink("飲品", "About", "Home")</li>
                            <li>@Html.ActionLink("餐具", "About", "Home")</li>
                            <li>@Html.ActionLink("產品管理", "Index", "Product")</li>
                            <li>@Html.ActionLink("連絡我們", "Contact", "Home")</li>

                        </ul>
                        @Html.Partial("_LoginPartial")
                        @{
                            Html.RenderAction("CartSummary", "ShoppingCart");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <footer class="foot-paroller foot-section">
        <div class="container">

            <div class="row mb5">
                <div class="col-md-4">
                    <div class="footer-weight mb4">
                        <h2 class="footer-heading">LoveShop</h2>
                        <p>逛逛LoveShop給您美好的購物體驗，歡迎選購</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-weight mb4">
                        <h2 class="footer-heading">社群媒體</h2>
                        <div class="text-block">
                            <ul style="list-style-type:none ;font-size:50px">
                                <li>
                                    <a herf="#">
                                        <span class="fa fa-facebook-official"></span>
                                    </a>

                                    <a herf="#">
                                        <span class="fa fa-github-square"></span>
                                    </a>
                                    <a herf="#">
                                        <span class="fa fa-twitter-square"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-weight mb4">

                        <h2 class="footer-heading ">聯絡我們</h2>
                        <div class="text-block">
                            <ul style="list-style-type:none">
                                <li>
                                    <span class="icon glyphicon glyphicon-map-marker"></span>
                                    <span class="text"> 台北市大安區大安街16巷5號</span>
                                </li>

                            </ul>
                            <ul style="list-style-type:none">
                                <li>
                                    <span class="icon glyphicon glyphicon-phone-alt"></span>
                                    <span class="text"> 0970396062</span>

                                </li>
                            </ul>
                            <ul style="list-style-type:none">
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <span class="text"> ShiangTingChen@gmail.com</span>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>&copy; @DateTime.Now.Year - MyShoppingWeb</p>

                </div>

            </div>
        </div>

        

    </footer>


    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/wow.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/sina-nav.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/aos.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>

</html>
@section scripts{
    <script src="~/Scripts/aos.js"></script>
    <script type="text/javascript">
        AOS.init({
               
            });
    </script>


}

