@model CoreMode.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>新增產品</h2>


@using (Html.BeginForm("Save", "Product"))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Product.Name)
            @Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Product.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.Price)
            @Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Product.Price)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.Description)
            @Html.TextBoxFor(m => m.Product.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Product.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.Image)
            @Html.TextBoxFor(m => m.Product.Image, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Product.Image)
        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    @Html.HiddenFor(m => m.Product.Id)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
