@using CoreMode.ViewModels
@model CoreMode.Model.Product


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section styles{

        <link href="~/Content/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    }
    @RenderSection("styles", false)*@
<head>
  
</head>
<body>
    <div class="container" style="background-color:#fff" id="productdeatils">
      
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-offset-1 col-md-5">
                    <img class="img img-test" src="~/Content/ProductImage/@Model.Image" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@Html.DisplayFor(model => model.Name)</h2>
                      

                        <h2>@Html.DisplayFor(model => model.Price)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                       
                    </div>

                </div>
                <div class="row">
                    
                        @Html.Action("InandDeView")

                    
                </div>
                <!--nav tabs-->
                <hr>
                    <div class="col-md-12">
                      
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#description">商品描述</a></li>
                            <li><a data-toggle="tab" href="#spec">商品規格</a></li>
                            
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p></p>
                                <p></p>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                            </div>
                            <div id="spec" class="tab-pane fade">
                                <h3>Menu 1</h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                         
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    
    <p>
        @Html.ActionLink("回首頁", "Index")
    </p>
    <div class="abc" value="@Model.Id">
        @Html.Hidden("Id", Model.Id)
    </div>
</body>

@section scripts{
    <script src="~/Scripts/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var i = $("input[name ='testing']");
            i.TouchSpin({
                min: 0,
                max: 100,
                step: 1,
                buttondown_class: 'btn btn-outline ',
                buttonup_class: 'btn btn-outline'
            });
            //要用第二行的
            @*$(".abc").click(function () {
                $.ajax({
                    url:@Url.Action("AddToCart", "ShoppingCart") + $(this).id + i.val(),
                        method :"POST"
                });


            });*@


        });


        $(function () {




        }
        )
    </script>

}

